*{
    margin: 0;
    padding: 0;
}
.year{
    background-image: url(img/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    margin: 30px auto;
}
.new-year{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    text-align: center;
    color: #fff;
    font-family: 'Merriweather', serif;
}
.new-year p{
    font-size: 32px;
    font-weight: 400;
}
.new-year h1{
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;   
}




.new-b{
    width: 1500px;
    height: 7235px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 80px;
}
.new-b h1{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 30px;
}
.new-b p{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.new-b h3{
    color: #070211;
    font-size: 50px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 40px;
}



.new-c{
    
}