*{
    margin: 0;
    padding: 0;
}

             /* section = 1 */

.year{
    background-image: url(img/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    margin: 30px auto;
}
.new-year{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    text-align: center;
    color: #fff;
    font-family: 'Merriweather', serif;
    padding-top: 180px;
}
.new-year p{
    font-size: 32px;
    font-weight: 400;
}
.new-year h1{
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;   
}


            /* section = 2 */

.new-b{
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 80px;
}
.new-b h1{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 30px;
}
.new-b p{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.new-b h3{
    color: #070211;
    font-size: 50px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 40px;
}

            /* section = 3 */

.new-c{
    background-image: url(img/Vectorrr.png);
    width: 1320px;
    height: 600px;
    margin: 80px auto;
}
.group{
    display: flex;
}
.group-a{
    margin: 100px 100px 100px 100px;
    fill: linear-gradient(90deg, #070211 100%, rgba(14, 3, 24, 0) 100%);
}
.group-a h2{
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.group-a p{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 40px;
}
.group-a button{
    color: #FFF;
    background-color: rgba(240, 112, 7, 0.973);
    border: #FFF solid;
    border-radius: 2px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;

}
.group-a button:hover{
    color: rgb(1, 15, 1);
    background-color: green;
    border: 2px solid rgb(255, 7, 7);
}
.group-b{
    margin-top: 70px;
    margin-right: 150px;
}

            /* section = 4 */

.new-d{
    width: 1320px;
    height: 482px;
    background-color: #f09cca;
    margin: 80px auto;
    border: 1px solid black;
}
.title{
    text-align: center;
    padding-top: 95px;
}
.title-a span{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    
}
.title-a{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
.btn{
    
    padding: 10px 22px;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-top: 45px;

}
.btn:hover{
    background-color: rgb(0, 255, 85);
    border: 2px solid #fff;
}


            /* section = 5 */

.boss{
    display: flex;
    width: auto;
    height: 400px;
    margin: 100px;
    gap: 200px;
}
.boss-a{
    margin-top: 100px;
    margin-bottom: 100px
}
.boss-a h4{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
    margin-bottom: 10px;
}
.boss-a h2{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 38px;
    font-weight: 900;
    text-transform: capitalize;
    margin-left: 5px;
}
.boss-a p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px; 
    margin-top: 10px;
    margin-left: 5px;
}
.boss-b{
    margin: auto;
    width: 363px;
    height: 363px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;
}
.boss-c{
    width: 304.844px;
    height: 304.844px;
    margin-top: 30px;
    margin-left: 30px;
}


.boss-d{
    margin-top: 75px;
    margin-right: 50px;
}
.boss-d h2{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom:10px;
}
.boss-d p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px; 
    margin-bottom: 20px;
}

            /* section = 6 */


.Holidays{
    text-align: center;

}
.Holidays h4{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.Holidays h1{
    color: #F00;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 10px;
}
.Holidays span{
    color: black;
}
.Holidays p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.all{
    width: 1280px;
    margin: auto;
    position: relative;
}

.all-a{
    display: flex;
    
}
.all-b{
    width: 50%;
    margin-right: 100px;
}
.all-c{
    width: 50%;
    position: relative;
    z-index: -2;
}
.all-e{
    margin-left: 60px;
}
.all-d{
    position: absolute;
    top: 50px;
    left: -20px;
}
.all-f{
    position: absolute;
    bottom: 5px;
    z-index: -1;
}

            /* section = 7 */
.new-e{
    width: 1320px;
    height: 882px;
    margin: 80px auto;
    border: 2px solid black;
}
.pic-A{
    margin-left: 5px;
    margin-top: 5px;
}

.pic-A h6{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
.pic-A h3{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.pic-A p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
}
.all-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.all-pic img{
    width: 400px;
    height: 300px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;

}
.all-pic img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}

            /* section= 8 */

.new-f{
    width: 1320px;
    height: 582px;
    background-color: #f09cca;
    margin: 80px auto;
    border: 2px solid black;
    text-align: center;
}
.new-f img{
    margin-top: 60px;
}
.news-A{
    margin-top: 20px;
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 30px;
}
.news-B{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.search{
    width: 330px;
    float: left;
    margin-left: 470px;
    margin-top: 20px;
}
.srch{
    font-family: 'times new roman';
    width: 230px;
    height: 40px;
    background: white;
    border: 1px solid black;
    margin-top: 18px;
    color: #000;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn-4{
    width: 100px;
    height: 40px;
    background: red;
    border: 2px solid #000;
    margin-top: 18px;
    color: #fff;
    font-size: 15px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}

            /* footer */

.YEAR{
    width: auto;
    height: 529px;
    background: #070211;
}
.new-g{
    display: flex;
    margin-left: 100px;
    gap: 700px;
    color: #FFF;
    margin-bottom: 30px;
}
.year-A{
    margin-top: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}
.year-B{
    margin-top: 100px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}
.year-f{
    text-align: center;
    margin-top: 30px;
    gap: 50px;
    margin-bottom: 30px;
}
.year-f img{
    padding:20px;
}

.year-g{
    display: flex;
    color: #FFF;
    margin-left: 100px;
    margin-top: 50px;
    gap: 1020px;
    font-family: 'Inter', sans-serif;
}
.last{
    font-size: 15px;
    font-weight: 500;
}
.last-b{
    font-size: 15px;
    font-weight: 500;
}