*{
    margin: 0;
    padding: 0;
}
.year{
    background-image: url(img/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    margin: 30px auto;
}
.new-year{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    text-align: center;
    color: #fff;
    font-family: 'Merriweather', serif;
    padding-top: 180px;
}
.new-year p{
    font-size: 32px;
    font-weight: 400;
}
.new-year h1{
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;   
}




.new-b{
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 80px;
}
.new-b h1{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 30px;
}
.new-b p{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.new-b h3{
    color: #070211;
    font-size: 50px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 40px;
}



.new-c{
    background-image: url(img/Vectorrr.png);
    width: 1320px;
    height: 600px;
    margin: 80px auto;
}
.group{
    display: flex;
}
.group-a{
    margin: 100px 100px 100px 100px;
    fill: linear-gradient(90deg, #070211 100%, rgba(14, 3, 24, 0) 100%);
}
.group-a h2{
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.group-a p{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 40px;
}
.group-a button{
    color: #FFF;
    background-color: rgba(240, 112, 7, 0.973);
    border: #FFF solid;
    border-radius: 2px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;

}
.group-a button:hover{
    color: rgb(1, 15, 1);
    background-color: green;
    border: 2px solid rgb(255, 7, 7);
}
.group-b{
    margin-top: 70px;
    margin-right: 150px;
}



.new-d{
    width: 1320px;
    height: 482px;
    background-color: #f09cca;
    margin: 80px auto;
    border: 2px solid black;
}
.title{
    text-align: center;
    padding-top: 95px;
}
.title-a span{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    
}
.title-a{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
.btn{
    
    padding: 10px 22px;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-top: 45px;

}
.btn:hover{
    background-color: rgb(0, 255, 85);
    border: 2px solid #fff;
}




.new-e{
    width: 1320px;
    height: 882px;
    margin: 80px auto;
    border: 2px solid black;
}
.pic-A{
    margin-left: 5px;
    margin-top: 5px;
}

.pic-A h6{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
.pic-A h3{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.pic-A p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
}
.all-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.all-pic img{
    width: 400px;
    height: 300px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;

}
.all-pic img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}



.new-f{
    width: 1320px;
    height: 582px;
    background-color: #f09cca;
    margin: 80px auto;
    border: 2px solid black;
    text-align: center;
}
.new-f img{
    margin-top: 60px;
}
.news-A{
    margin-top: 20px;
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 40px;
}
.news-B{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.news-C{
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
}
.news-D{
    margin-top: 50px;
    width: 448px;
    height: 40px;
    border-radius: 50px;
    background: #FFF;

    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.hlw{
    width: 210px;
    height: 72px;
    flex-shrink: 0;

    border-radius: 0px 50px 50px 0px;
    background: #F00;

    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}



.YEAR{
    width: auto;
    height: 529px;
    background: #070211;
}
.new-g{
    display: flex;
    margin-left: 100px;
    gap: 700px;
    color: #FFF;
    margin-bottom: 30px;
}
.year-A{
    margin-top: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}
.year-B{
    margin-top: 100px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}
.year-f{
    text-align: center;
    margin-top: 30px;
    gap: 50px;
    margin-bottom: 30px;
}
.year-f img{
    padding:20px;
}




.year-g{
    display: flex;
    color: #FFF;
    margin-left: 100px;
    margin-top: 50px;
    gap: 1020px;
    font-family: 'Inter', sans-serif;
}
.last{
    font-size: 15px;
    font-weight: 500;
}
.last-b{
    font-size: 15px;
    font-weight: 500;
}


